// me parece interesante las animacionnes en los botones, pero tengan cuidado porque descuadra un poco el layout

@import 'components/variables';
body {
    background-color: #edf0f1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    .dash{
       border: 0.5px solid #639FA6;
       width: 12%;
       margin: 20px auto;
      } 
}
::placeholder {
    color: rgba(213, 242, 242, 0.459);
}
#header {
    overflow: hidden;
    position: relative;
    background-color: $blue;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    
    input {
        &:focus {
            outline-width: 0;
        }
        font-size: 15px;
        width: 99%;
        background-color: #0367A6;
        text-decoration: none;
        border: none;
        color: white;
        border-radius: 5px 25px 25px 5px;
        height: 49px;
        box-sizing: content-box;
        padding-left: 10px;
    }
        #task_btn{
            position: absolute;
            border: none;
            right: 15px;
            top: 15px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            color: $blue;
            border-radius: 25px;
            cursor: pointer;
            &:hover {
                background-color: white;
                color:grey;
                transition: 0.4s;
                transform: rotate(180deg);
            }
    }
}
div{
    p{
        margin: 30px auto;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 12px;
        color: #639FA6 ;
    }
}
#pendingList, #doneList { 
    color: #023E73;
    padding: 0;
    margin: 0 15px 0 15px;
     .assignment {
        list-style: none;
        background-color: white;
        padding: 18px 10px;
        border-radius: 5px;
        margin: 10px 0;
        transition: 0.3s;
        &:hover {
            padding: 22px 14px;
                }
        a {
            float:right;
            text-decoration: none;
            .fa-check{
                border: 1.5px solid green;
                border-radius:15px;
                padding: 4px;
                font-size: 10px;
                margin-left: 10px;
                transition: 0.3s;
                &:hover {
                    border-radius:17px;
                    padding: 6px;
                    font-size: 10px;
                        } 
                  }
            .fa-trash-alt{
                color: $grey;
                font-size: 20px;
                border-right: 1px solid $grey;
                padding-right: 10px; 
                transition: 0.3s;
                &:hover {
                color: #F74320;
                font-size: 22px;
                    }
                }
            }
         }
  }
#doneList{
    .fa-check{
        color: white;
        background-color: green;
        }
    }
#pendingList{
    .fa-check{
        color: green;
        &:hover {
            color:white ; 
            background-color: green; 
                }
    }
}
.displayNone{
display: none;
}