@import 'components/variables';

body {
    background-color: #edf0f1;
    margin: 0;
}

::placeholder {color: rgba(255, 255, 255, 0.664);}

#header {
    overflow: hidden;
    position: relative;
    background-color: $pink;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    form {
        input {
            font-size: 15px;
            width: 100%;
            background-color: #cd6185;
            text-decoration: none;
            border: none;
            color: white;
            border-radius: 5px 25px 25px 5px;
            height: 50px;
            box-sizing: content-box;
        }
        #task_btn{
            position: absolute;
            border: none;
            right: 12px;
            top: 15px;
            width: 50px;
            height: 50px;
            font-size: 15px;
            color: $pink;
            border-radius: 25px;
            cursor: pointer;
        }
    }
}

#pendingList, #doneList { 
    padding: 0;
    margin: 2% 2% 0 2%;
     .assignment {
    list-style: none;
    background-color: white;
    padding: 18px 10px;
    border-radius: 5px;
    margin: 10px 0;
                 a{
                   float:right;
                   text-decoration: none;
                   position: relative;
                   padding: 5px 5px;
                   
                    .fa-check{
                                color: $pink;
                                border: 1.5px solid $pink;
                                border-radius:50%;
                                padding: 5px;

                                 &:hover {
                                    background-color: $pink;
                                    color:white ;     
                                }
                             }
                    .fa-trash-alt{
                                color: $grey;
                                font-size: 27px;

                                &:hover {
                                    color: #F74320;   
                                        }
                                }
                     }
        
        
    }
}
